// Put any @imports here
// See Readme for a list of supported ones
@import 'foundation';

$black: #4A4A4A;
$red: #EF4836;
$blue: #517EE8;
$grey: #C1CAD6;
$white: #FFFFFF;

footer {
  .footer {
    width: 400px;
    margin: 0 auto;
    p {
      color: white;
      margin: 10px auto;
      text-align: center;
      a {
        text-decoration: none;
        color: #FFFFFF;
      }
    }
  }
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: $grey;
}
li {
  list-style-type: none;
}

.top-bar {
  background-color: $black;
  color: $white;
}

@media(min-width: 40.0625em) {.top-bar-section li:not(.has-form) a:not(.button) {
    background: $black;
    color: $white;
}}

.hidden {
  display: none;
}

.container {
  width: 80%;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
}


.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: visible;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--back {
  transform: translateZ(0);
}

.logout {
  display: none;
}

.display {
  display: inline-block;
}

.donotdisplay {
  display: none;
}

.homeWrapper {
  height: 100%;

  h2{
    margin: 0 auto;
    text-align: center;
  }

  .homeRedirect {
    display: block;
    margin: 0 auto;

    button {
      margin: 15px auto;
      display: block;
    }

    div {
      margin: 15% auto;
      width: 250px;
    }
  }
}

.newForm {
  margin: 15px auto;
  text-align: center;

  form {
    // border: 3px solid black;
    border-radius: 5px;
    padding: 25px;

    input {
      max-width: 80%;
      margin: 5px auto;
    }

    .markerForm {
      width: 20vw;
      height: 100%;
    }
  }
}

#gmap {
  max-width: 80%;
  height: 500px;
  margin: 5px auto; 
}

.listTourWrapper {
  width: 100%;
  height: 100%;

  h2 {
    text-align: center;
  }

  #listmap {
    max-width: 100%;
    min-height: 400px;
    margin: 15px auto;
  }

  .tours {
    margin: 0 auto;
    width: 90%;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;

    .tourbox {
      padding: 2px;
      width: 100%;
    
      .tour:hover {
        background-color: #EEEEEE;
        cursor: pointer;
      }

      .tour {
        background-color: $white;
        display: flex;
        margin: 0 auto;
        padding: 3px;
        height: 6em;
        overflow: hidden;
        justify-content: space-between;
        -moz-box-shadow:    inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow:         inset 0 0 10px #000000;
      }

      .clicked {
        background-color: #CCCCCC;
      }
    }
  }

  .sitebox {
    margin: 50 auto;
  }
}

.angular-google-map-container { 
  height: 500px; 
  width: 80vw;
}

