// Put any @imports here
// See Readme for a list of supported ones
@import 'foundation';

$black: #4A4A4A;
$red: #EF4836;
$blue: #517EE8;
$grey: #C1CAD6;
$white: #FFFFFF;

footer {
  .footer {
    width: 400px;
    margin: 0 auto;
    p {
      color: white;
      margin: 10px auto;
      text-align: center;
      a {
        text-decoration: none;
        color: #FFFFFF;
      }
    }
  }
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: $grey;
}

.container {
  width: 80%;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
}

div.ng-scope {
  height: 100%;
}

.homeWrapper {
  height: 100%;

  h2{
    margin: 0 auto;
    text-align: center;
  }

  .homeRedirect {
    display: block;
    margin: 0 auto;

    button {
      margin: 15px auto;
      display: block;
    }

    div {
      margin: 15% auto;
      width: 250px;
    }
  }
}

.newForm {
  margin: 15px auto;

  form {
    border: 3px solid black;
    border-radius: 5px;
    padding: 25px;

    input {
      max-width: 80%;
      margin: 5px auto;
    }

    .markerForm {
      width: 20vw;
      height: 100%;
    }

  }
}

#gmap {
  max-width: 80%;
  height: 500px;
  margin: 5px auto; 
}

.listTourWrapper {
  width: 100%;
  height: 100%;

  h2 {
    text-align: center;
  }

  #listmap {
    max-width: 100%;
    min-height: 500px;
    margin: 15px auto;
  }

  .tours {
    display: flex;
    flex-direction: column;
    align-items: center;

    .tourbox {
      background-color: $white;
      padding: 2px;
      width: 90%;
    
      .tour:hover {
        background-color: #EEEEEE;
        cursor: pointer;
      }

      .tour {
        display: flex;
        margin: 0 auto;
        padding: 3px;
        -moz-box-shadow:    inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow:         inset 0 0 10px #000000;
      }

      .clicked {
        background-color: #CCCCCC;
      }
    }
  }
}

