<div class="homeWrapper">
  <div class="homeRedirect">
    <h2>Explore {{vm.city}} like a local.</h2>
    <button ng-click="findTour()"><div>Begin your Experience</div></button>
     <button ng-click="newTour()"><div>Create</div></button>
  </div>
  <div class="homeOverlay"></div>

  <div class="homeMap">
    <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options" draggable="false" events="map.events">
      <ui-gmap-marker coords="m.coords" styles="map.styles" icon="m.icon" idkey="m.id"></ui-gmap-marker>
    </ui-gmap-google-map>
  </div>
</div>