<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#/">Title</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li><a href="#/">Home</a></li>
      <li><a href="#/single">Your Maps</a></li>
    </ul>
  </section>
</nav>

<section class="container" ui-view></section>

<footer class="top-bar">
  <div class="footer">
    <p><a href="http://www.google.com">Site</a> &copy; 2015</p>
  </div>
</footer>