<div class="listTourWrapper">
  <h2>Choose a new adventure!</h2>
  <div list-map="" class="list map"></div>
  <div class="list tours">
    <div class="tourbox">
      <div 
      ng-repeat="t in vm.allTours" 
      class="list tour" 
      ng-class="{'clicked': $index == vm.selectedIndex}" 
      ng-click="vm.clickedTour($index)"
      >
        <p>{{ t.title }}</p>
        <p>{{ t.distance }}</p>
        <p>{{ t.duration }}</p>
        <p class="list hidden">{{ t.description }}</p>
      </div>
    </div>
  </div>
</div>