<div class="listTourWrapper">
  <h2>Choose a new adventure!</h2>
  <div tour-map="" class="list map"></div>
  <div class="list tours parallax">
    <div class="tourbox parallax__layer parallax__layer--back">
      <ul 
      ng-repeat="t in allTours" 
      class="list tour" 
      ng-class="{'clicked': $index == selectedIndex}" 
      ng-click="clickedTour($index, t)"
      ng-mouseover="hoverTour(t)"
      >
        <li>{{ t.title }}</li>
        <li>{{ t.distance }}</li>
        <li>{{ t.duration }}</li>
        <li class="list hidden">{{ t.description }}</li>
      </ul>
    </div>
  </div>
  <div site-map="" tour="tour"></div>
</div>