<div class="newWrapper">
  <div class="newFormOverlay" ng-if="vm.showForm"></div>
    <form class="newForm" ng-submit="vm.submitTourForm(tour)" ng-if="vm.showForm">
      <h3>Create a new experience</h3>
      <input class="new title" type="text" placeholder="Title" ng-model="tour.title">
      <input type="text" placeholder="Category" ng-model="tour.category">
      <textarea class="new desc" type="textarea" placeholder="Briefly describe your adventure" ng-model="tour.description"></textarea>
      <button>Submit</button>
    </form>
    <div class="newMap">
      <div new-map=""></div>
      <div class="newOverlay" ng-if="vm.showMap">Click the map to add places to your experience.</div>
      <div class="newButtonOverlay" ng-if="vm.showMap"><a href="#/"><button>Submit</button></a></div>
    </div>
</div>